page-home {

  .qi-chat-item {
    position: relative;
    padding: 1rem;
    height: 8rem;
  }

  .qi-chat-item:not(:last-child) {
    border-bottom: 1px #eee solid;
  }

  .qi-chat-item > .qi-chat-avatar {
    float: left;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }

  .list-header {
    background: #eee;
  }

  .user-item-avatar {
    margin: 5px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      width: 5rem;
      height: 5rem;
    }
  }
}